{% extends "base.html" %}
    {% block content %}
        {% block list%}
        <div id="list">
            <input type="search" name="find_contact" placeholder="Find a contact">
            <form method="post">
                <input type="hidden" name="act" value="add"/>
                <input type="submit" value="Add"/>
            </form>
            <ul>
            {% for contact in contacts %}
                <li>
                    <form method="get">
                        <input type="hidden" name="select" value="select"/>
                        <input type="hidden" name="key" value="{{contact.key.urlsafe()}}" />
                        <input type="submit" value="{{ contact.cname }}"/>
                        <!--<a href="" onclick="form.submit();">{{ contact.cname }}</a>-->
                    </form>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endblock list%}
        <div id="detail">
            {% block detail %}
                {% if dcontact %}
                    <h3>Contact Informaction</h3>
                    <table>
                        <tr>
                            <td>Name</td><td>{{ dcontact.cname }}</td>
                        </tr>
                        <tr>
                            <td>Phone</td><td>{{ dcontact.phone }}</td>
                        </tr>
                        <tr>
                            <td>Email</td><td>{{ dcontact.email }}</td>
                        </tr>
                    </table>
                    <div id="detail_footer">
                        <!--<form method="post">
                            <input type="hidden" name="act" value="edit"/>
                            <input type="submit" value="Edit"/>
                        </form>-->
                        <!--<form method="post" action="/delete_contact">
                            <input type="hidden" name="cname" value="{{ dcontact.cname }}"/>
                            <input type="hidden" name="act" value="delete"/>
                            <input type="submit" value="Delete"/>
                        </form>-->
                    </div>
                {% endif %}
            {% endblock detail %}
        </div>
    {% endblock content %}